<!-- FOOTER -->

  <hr/>

  <div class="footer">
    <p>King's Blog @ ezgraphics <%= currentYear %> All Rights Reserved</p>
  </div>

</div>
<script src="/js/index.js" charset="utf-8"></script>
<script src="/js/bootstrap.bundle.js"></script>

</body>
</html>
