
<%- include("partials/header") %>


<div class="row reg-main">  
  <div class="col-lg-6 col-md-12 col-sm-12 profile-log-bg">
    <div class="compose-info">        
      <h1>Compose amazing content</h1>
      <p>Welcome to the Kings Blog. Here your free to express your creative brilliance</p>
      <p>Write something today. Experience creativity at its peak, Write something beautiful :)</p>
      <img src="/images/profile-left.png" alt="Login Image">
    </div>
  </div>

  <div class="col-lg-5 col-md-12 col-sm-12">
    <div class="profile-div">
      <div class="text-profile">
        <h2 class="profile-h2">Compose</h2>
        <small>This information will be displayed publicly</small>          
      </div>
      
      <form action="/" method="POST" enctype="multipart/form-data">         
        <div class="form-group">
          <!-- Title input          -->
          <div class="">
            <label for="newText">Title</label>
            <input type="text" class="form-control" id="newText" required="required" name="newText">
          </div>           
          <!-- Image Upload    -->
          <div>          
            <input type="file" id="file" name="image" required accept="image/*">
            <label for="file" class="file-label">Click to add photo</label>
            <small>Landscape image</small>
          </div>
           <!-- Message input   -->
          <div class="form-floating padding">
            <textarea class="form-control" required name="bigText" minlength="110" placeholder="Leave a comment here" id="bigText" style="height: 200px"></textarea>
            <label for="bigText">Post</label>
            <small>Minimum of 110 characters</small>
          </div>
        </div>
        <div class="d-grid gap-2 col-6 mx-auto">
          <button type="submit" name="button" class="btn-profile btn-primary">Post</button>
        </div>
      </form>
      <!-- <div>
        <form action="/image" method="post">
           Image Upload
          <div>
            <input type="file" name="image" accept="image/*">
          </div>
          <button type="submit" name="button" class="btn-profile btn-primary">Post</button>
        </form>
      </div> -->
    </div>
  </div>
</div>


<%- include("partials/footer") %>
