<%- include("partials/header") %>

<!-- HEADING -->

<div class="heading">

<div class="row">
  <div class="col-sm-4">
    <div class="">
      <img class="mainImage" src="images/contact.png" alt="Smiley face">
    </div>
  </div>
  <div class="col-sm-8 homeContent">
    <h1 class="hech"> Contact US </h1>
    <p class="paragraphHeader" > <%= mainText %> </p>

       <div class="avatar">
         <img src="images/userAvatar-1.png" class="userIcon" alt="">
         <h1 class="userIconText"> Eze Excel </h1>
         <p class="iconTitle" >Content Manager</p>
       </div>
  </div>
</div>

</div>

<hr>

<%- include("partials/footer") %>
