<%- include("partials/header") %>


  <div class="container loginRow">  


    <div class="col-md-12">

      <div class="myProfile-div">

        <div class="flex-container-head">
          <div class="profile-pic-flex">
            <img class="profile-pic" src="/favicon/profile-default.png" alt="Profile Pic">
          </div>
          <div class="name-flex">
            <h3 class="profile-name"> Jeremy Rose</h3>
            <p class="profile-paragraph">Content Manager</p>
            <p class="username-profile">User Name</p>
            <p class="profile-email">examplemail@gmail.com</p>
          </div>
          <div class="underscore">
            <hr>
          </div>
          <div class="about-myProfile">
            <p> The quick brown fox jumped over the lazy dog. The quick brown fox jumped over the lazy dog.
               The quick brown fox jumped over the lazy dog. The quick brown fox jumped over the lazy dog. 
               The quick brown fox jumped over the lazy dog. The quick brown fox jumped over the lazy dog. 
               The quick brown fox jumped over the lazy dog.</p>
          </div>
          <div class="underscore">
            <hr>
          </div>
          <div class="d-grid gap-2 col-6 mx-auto">
            <button type="button" class="btn-profile btn-outline-danger">Edit Profile</button>
          </div>
          
        </div>         
        
        
      </div>

    </div>

  </div>


<%- include("partials/footer") %>
