<%- include("partials/header") %>


 

  <div class="row reg-main">
    <div class="col-lg-7 col-md-12 col-sm-12">
      <div class="reg-info">        
        <h1>Welcome to the kings blog</h1>
        <p>Welcome to your one stop blog extavaganza</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed fringilla lacinia tellus a molestie.
           Donec ullamcorper nunc eu dapibus luctus. Morbi ut sem pretium, tristique nibh non, porttitor urna.
            Pellentesque vestibulum sagittis dictum. Sed ante ipsum, congue in tempus et, tempor eget felis.
             Vivamus nec molestie ipsum.</p>
        <img src="/images/laptop-blog.png" alt="">
      </div>
    </div>
    <div class="col-lg-5 col-md-12 col-sm-12">
      <div class="reg-div">
        <!-- <img class="favicon-main" src="/favicon/create.png"> -->
        <h4 class="auth-h2">Sign Up</h4>

          <!-- Flash Message from app.js Register validation Email -->
          <% if ( message.length > 0){ %>
            <div class="alert custom-alert">
              <%= message %>
            </div>
          <% } %> 

          <!-- Flash Message from app.js Register validation Username -->
          <% if ( message2.length > 0){ %>
            <div class="alert custom-alert">
              <%= message2 %>
            </div>
          <% } %> 

          <!-- Register Form -->
          <form action="/register" method="POST">
            <div class="form-group spacing">
              <label class="ast-label" for="AccountName">User Name</label>
              <input type="text" name="accountName" required="required" class="form-control" id="AccountName" aria-describedby="emailHelp" placeholder="Something Unique :)">
            </div>
            <div class="form-group spacing">
              <label class="ast-label" for="exampleInputEmail1">Email</label>
              <input type="email" name="username" required="required" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
              <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>
            <div class="form-group spacing">
              <label for="exampleInputPassword1">Password</label>
              <input type="password" name="password" required="required" class="form-control" id="regPassword" placeholder="Password">
              <small class="form-text text-muted">Something you'd remember.</small>   
              <div class="form-check" style="outline: 0;">
                <input type="checkbox" class="form-check-input" id="showPassReg" onclick="myFunction()">
                <label class="form-check-label" for="showPassReg">Show password</label>
              </div>      
            </div>
            <div class="form-check">
              <input type="checkbox" class="form-check-input" id="exampleCheck1">
              <label class="form-check-label" for="exampleCheck1">Remember Me</label>
            </div>
            <small id="emailHelp" class="form-text text-muted">By Creating an account, I agree to the <a href="#">Terms</a> and <a href="#">Privacy Policy.</a></small>
            <br/>
            <button type="submit" class="btn btn-primary submit">Submit</button>
            <p class="endRegister">Already a User? <a href="/login">Login</a></p>
          </form>
      </div>
    </div>
  </div>



<%- include("partials/footer") %>
