input {
  display: block;
}

.textBox {
    width: 100%;
}



/* Navigation */


.nav{
  margin-top: 3px;
}

.myNav{
  font-family: "Montserrat thin", Times, serif;
  font-size: 13px;
  font-weight:bold;
  margin-left:8%;

}

.navLinks{
  color:black;
  font-family: "Montserrat", Times, serif;
  font-size: 13px;
  margin-left:23%;
}

.pill-nav a.active{
  background-color: orange;
  border-radius: 3px;
  color: black;
  font-weight: bold;
  margin-left: 2px;
  padding: 10px 8px;
}

/* Header */

.heading{
  margin-top:3%;
  margin-bottom: 3%;
}

.iconTitle{
  font-family: "Montserrat", Times, serif;
  font-size: 13px;
  width: 80%;
}

.paragraphHeader{
  font-family: "Montserrat", Times, serif;
  font-size: 13px;
  margin: 2% 3% 5%;
  width: 80%;
}

/* hech ==> h1 tags */

.hech{
  font-size: 30px;
  margin: 2% 3% 0;
}

.mainImage{
  height: 90%;
  margin: 5% 3% 5%;
  width: 90%;
}


.userIcon{
  float: left;
  height:50px;
  margin-right:20px;
  width:50px;
}

.userIconText{
  font-size: 15px;
  font-weight: bold;
  margin: auto;
  padding-top:1.2%;
}

    /* BODY */

.hechBody{
  font-size: 27px;
  margin: 10px 3% 0;
}

.paragraphBody{
  font-family: "Montserrat", Times, serif;
  font-size: 13px;
  margin: 5% 3% 7%;
  width: 80%;
}

.avatar{
  transform:scale(0.9);
  margin: auto 0;
}


#bodyDiv{
  margin:3% 0;
}


    /* FORM */

.padding{
  margin: 2% 0;
}

/* Login Page */


.loginSpacing{
  margin: 2% 0 20px;
}

.endLogin{
  margin: 12px 0 68px;
}

.auth-h2{
  text-align:center;
  margin-bottom: 40px;
}

.centerDiv{
  margin: 75px 15% 10px;
}

.loginSubmit{
  margin:0 0 10px;
}



/* Register Css */

.spacing{
  margin: 3% 0;
}

.endRegister{
  margin-bottom: 40px;
}
.submit{
  margin:20px 0;
}

/* Validation alert */

.custom-alert {
  color: #084298;
  background-color: #cfe2ff;
  border-color: #40DFEF;
}
.custom-alert .alert-link {
  color: #06357a;
}

/* FOOTER */

.footer{
  font-family: "Montserrat";
  font-size: 13px;
  margin: 30px auto;
  text-align: center;
  width: 100%;
}
