/* Navbar Sticky class*/

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 10px;
}

.nav-margin{
  margin-bottom: 75px;
}

 /* Used to display text as user inputed it  */
.multiline {
  white-space: pre-wrap;
}

/* Main CSS */

input {
  display: block;
}

.textBox {
  width: 100%;
}

/* Navigation */

.nav{
  margin-top: 3px;
}

.myNav{
  font-family: "Montserrat thin", Times, serif;
  font-size: 13px;
  font-weight:bold;
  margin-left:8%;

}

.navLinks{
  color:black;
  font-family: "Montserrat", Times, serif;
  font-size: 13px;
  margin-left:23%;
}

.pill-nav a.active{
  background-color: orange;
  border-radius: 3px;
  color: black;
  font-weight: bold;
  margin-left: 2px;
  padding: 10px 8px;
}

/* Header */

.heading{
  margin-top:3%;
  margin-bottom: 3%;
}

.iconTitle{
  font-family: "Montserrat", Times, serif;
  font-size: 13px;
  width: 80%;
}

.paragraphHeader{
  font-family: "Montserrat", Times, serif;
  font-size: 13px;
  margin: 2% 3% 5%;
  width: 85%;
}

/* hech ==> h1 tags */

.hech{
  font-size: 30px;
  margin: 2% 3% 0;
}

.mainImage{
  height: 90%;
  margin: 5% 3% 5%;
  width: 90%;
}


.userIcon{
  float: left;
  height:50px;
  margin-right:20px;
  width:50px;
}

.userIconText{
  font-size: 15px;
  font-weight: bold;
  margin: auto;
  padding-top:1.2%;
}

    /* BODY */

.hechBody{
  font-size: 27px;
  margin: 10px 3% 0;
}

.paragraphBody{
  font-family: "Montserrat", Times, serif;
  font-size: 13px;
  margin: 5% 3% 7%;
  width: 80%;
}

.avatar{
  transform:scale(0.9);
  margin: auto 0;
}


#bodyDiv{
  margin:3% 0;
}


    /* FORM */

.padding{
  margin: 2% 0;
}

/* Login Page */


.loginSpacing{
  margin: 25px 0 15px;
}

.endLogin{
  margin: 12px 0 58px;
}

i {
  margin-left: -45px;
}

.log-info{
  color: #383838;
  margin: 16% 0 16% 11%;
}

.log-info h1{
  font-family: 'Poppins', sans-serif;
  font-size: 52px;
  font-weight: 600;
}

.log-info p{
  font-size: 20px;
  font-family: 'Poppins', sans-serif;
  margin: 20px;
}

.log-info img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}  

.log-div{  
  background-color: #f5f5f5;
  border-radius: 3%;
  font-size: small;
  margin: 75px 120px 52px 10px;
  padding: 7% 7% 1%;
}

@media only screen and (max-width: 1080px){
  .log-div{
    margin: 112px 80px 155px;
    padding: 7% 8% 1%;
  }
  .log-info{
    margin-bottom: 0;
  }  
  .log-info h1{
    margin-bottom: 50px;
  }
  .log-info p{
   width: 680px;
  }
  .log-info img{
    margin:70px 0 0 80px;
    width: 55%;
  }  
}

.auth-h2{
  text-align:center; 
  margin: 20px 0 20px;
}

.centerDiv{
  margin: 62px 15% 52px;
}

.loginSubmit{
  margin:0 0 10px;
}



/* Register Css */

.ast-label::before{
  content: "*";
  color: red;
  float: right;
}

.reg-main{
  background-color: antiquewhite;
}

.reg-info{
  color: #383838;
  margin: 16% 0 16% 11%;
}

.reg-info h1{
  font-family: 'Poppins', sans-serif;
  font-size: 52px;
  font-weight: 600;
}

.reg-info p{
  font-size: 20px;
  font-family: 'Poppins', sans-serif;
  margin: 20px;
}

.reg-info img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}  

.reg-div{  
  background-color: #f5f5f5;
  border-radius: 3%;
  font-size: small;
  margin: 75px 120px 52px 10px;
  padding: 7% 7% 1%;
}

@media only screen and (max-width: 1080px){
  .reg-div{
    margin: 112px 80px 155px;
    padding: 7% 8% 1%;
  }
  .reg-info{
    margin-bottom: 0;
  }  
  .reg-info h1{
    margin-bottom: 50px;
  }
    .reg-info p{
   width: 680px;
  }
  .reg-info img{
    margin:70px 0 0 80px;
    width: 70%;
  }  
}

.spacing{
  margin: 10px 0;
}

.endRegister{
  margin-bottom: 40px;
}
.submit{
  margin:20px 0;
}

/* Validation alert */

.custom-alert {
  color: #084298;
  background-color: #cfe2ff;
  border-color: #40DFEF;
  text-align: center;
}
.custom-alert .alert-link {
  color: #06357a;
}

/* Favicon */

.favicon{
  height: 22px;
  width: 22px;
  margin: 0 2px 3px 0;
}

.favicon-active{
  background-color: red;
}

.favicon-main{
  height: 52px;
  margin: 0 2px 7px 0;
  width: 52px;
}

/* --------- Compose ------------ */

.compose-div{  
  background-color: #f5f5f5;
  font-size: small;
  margin: 55px 30px;
  padding: 7%;
}

.compose-info{
  color: #383838;
  padding: 120px 15px;
}

.compose-info h1{
  font-family: 'Poppins', sans-serif;
  font-size: 33px;
  font-weight: 600;
  text-align: center;
}

.compose-info p{
  font-size: 17px;
  font-family: 'Poppins', sans-serif;
  margin: 20px;
}

.compose-info img{
  display: block;
  margin: 0 auto 0 -20px;
  width: 85%;
} 

.compose-image{
  border-radius: 5px;
  height: 255px;
  width: 400px;
}

@media only screen and (max-width: 1080px){  
  .compose-info{
    margin-bottom: 0;
  }  
  .compose-info h1{
    margin-bottom: 50px;
  }
  .compose-info p{
    text-align: center;
  }
  .compose-info img{
    margin:70px 0 0 80px;
    width: 55%;
  }  
}

input[type="file"]{
  display: none;
}

.file-label{
  background-color: antiquewhite;
  border-radius: 5px;
  font-size: 15px;
  justify-content: center;
  margin: 25px 0 20px;
  padding: 10px 15px;
}
.file-label:hover{
  background-color: rgb(254, 243, 228);
  color: rgb(112, 112, 112);
}

/* ---------- Article ------------ */

.container-article{
  color: #4b4b4b;
  padding: 50px 234px;
}

@media only screen and (max-width: 1080px){
  .container-article{
    color: #3b3b3b;
    padding: 50px 74px;
  }
}
.container-article p{
  font-size: 19px;
  font-weight: 500;
}

.container-article h6{
  font-family: "Montserrat";
  font-weight: 500;
}

.container-article h1{
  color: #efc035;
  font-family: "Montserrat";
  font-size: 45px;
  font-weight: 600;
  line-height: 70px;
} 

.rec-article{  
  background-color: #f1f1f1;  
  padding: 50px 234px;
}
.rec-article h4{  
  text-align: center;
}

.article-rec{
  background-color: white;
  border-radius: 7px;
  padding: 17px 15px 15px;
  margin-top: 30px;
}

@media only screen and (max-width: 1080px){
  .rec-article{  
    padding: 50px 94px;
    margin-bottom: 90px;
  }
  .article-rec img{
    height: 150px;
    width: 250px;
  }
}

.article-rec img{
  border-radius: 2px;
  height: 100px;
  width: 150px;
}

.article-rec h5{
  color: #353535;
  margin-top: 3px;
}

.article-rec p{
  color: #353535;
  font-size: 13px;
}

.btn-danger-css {
  color: #fff;
  background-color: #dc3545;
  border-color: #dc3545;
}
.btn-danger-css:hover {
  color: #fff;
  background-color: #bb2d3b;
  border-color: #b02a37;
}


/* --------- myProfile ------------ */

.edit-anchor{
  color: #199aa9;
  text-decoration: none;
}
.edit-anchor :hover{
  color: #fff;
}

.my-profile{  
  font-family: 'Poppins', sans-serif;
  width: 100%;
}

.my-profile.pic{
  height:130px;
  width:300px;
}

.profile-dash{
  height: 330px;
  width: 100%;
}

.profile-pic{
  border-radius: 100%;
  height: 253px;
  width: 253px;
  margin: -160px 0 0 120px;
}

.my-profile-name{  
  font-size: 30px;
  font-weight: 600;
  margin: 15px 0 10px 135px;
}

.my-profile-username{  
  font-size: 22px;
  font-weight: 600;
  margin: 20px 0 10px 140px;
}

.my-profile hr{
  margin: 20px 0 0 130px;
  width: 50%;
}

.my-profile-p{
  color: #409def;
  font-size: 15px;  
  margin: 13px 0 10px 140px;
}

.my-profile-about{
  color: #5f5f5f;
  font-size: 15px;
  padding: 0 40px;
  margin: 30px 0 10px 10px;
  text-align: center;
}

.see-all{
  margin-left: 25px;
}

.my-profile-button{
  margin-top: 0px;
}

@media only screen and (max-width: 1080px){
  .my-profile-button{
    margin:30px 0 530px;
  }
  .my-post-bottom{
    margin:30px 0 560px;
  }
}


/* Profile posts section  */

.profile-bg{
  padding-right: 40px;
}

.profile-bg h4{
  font-size: 22px;
  font-weight: 600;
  text-align: center;
  margin: 10px 0 20px;
}

@media only screen and (max-width: 1080px){
  .profile-bg{
    padding-right:0;
  }
  .profile-bg h4{
    margin-top: 45px ;
  }
}

.profile-container{
  border-radius: 7px;
  padding: 15px;
}

/* Container for myPosts page  */
.posts-container{
  border-radius: 7px;
  padding: 45px;
}

.profile-post{
  margin: 20px 10px;
}
.profile-post img{
  border-radius: 7px 7px 0 0;
  height: 130px;
  width: 100%;
}

.post-post{
  margin: 20px 10px;
}
.post-post img{
  border-radius: 7px 7px 0 0;
  height: 230px;
  width: 100%;
}
@media only screen and (max-width: 1080px){
  .profile-post img{
    height: 220px;
  }
}

.post-text{
  background-color: rgb(240, 240, 240);
  border-radius: 0 0 7px 7px;
  height: 230px;
  padding: 15px;
  text-align: left;
}
.post-text h3{
  font-size: 25px;
  text-align: left;
}

.post-text p{
  /* font-size:16px; */
  margin-bottom: 0;
}

.post-width{
  width:95%
}

/* Post/:topic page  */
.posts-date{
  margin-left: 25px;
}
/*All Posts page  */
.my-post-text-date{
  color: grey;
  font-size: 15px;
  margin: 3px 0;
}
/* Home page  */
.post-text-date{
  color: grey;
  font-size: 13.5px;
  font-weight: 200;
  margin: 3px 0;
}

.aaa{
  text-decoration: none;
  color: black;
}
.aaa:hover{
  color: black;
}

/* Paragraph for myProfile  */
.my-post-text{
  background-color: rgb(240, 240, 240);
  border-radius: 0 0 7px 7px;
  padding: 15px;
  text-align: left;
}
.my-post-text h3{
  font-size: large;
  text-align: left;
}
.my-post-text p{
  font-size:smaller;
  margin-bottom: 0;
}


/* ------------------ */

.myProfile-div{
  margin: 43px 15% 37px;
}

.profile-pic-flex{
  margin: 40px 7.5px 0;
}

.name-flex{
  flex: 35%;
  margin: 72px 30px 0;
  font-family: "Inter";  
}

.profile-name{
  font-size: 30px;
  margin: 0 0 2px;
}

.profile-paragraph{
  color: #409def;
  font-size: 15px;
  margin-left: 5px;
}


/* ------ Profile ---- */

.profile-h2{
  margin-bottom: 10px;
}

.profile-log-bg{
  background-color: #FEFBE7;
  margin-right: 25px;
}
/* Left Grid  */

.profile-div{  
  background-color: #f5f5f5;
  border-radius: 3%;
  font-size: small;
  margin: 55px 45px 52px 75px;
  padding: 7%;
}

.profile-info{
  color: #383838;
  margin: 16% 0 16% 11%;
  padding-bottom: 50px;
}

.profile-info h1{
  font-family: 'Poppins', sans-serif;
  font-size: 52px;
  font-weight: 600;
}

.profile-info p{
  font-size: 20px;
  font-family: 'Poppins', sans-serif;
  margin: 20px;
}

.profile-info img{
  display: block;
  margin: 0 auto 0 -20px;
  width: 85%;
} 

@media only screen and (max-width: 1080px){
  .profile-div{
    margin: 112px 90px 155px;
    padding: 7% 8% 5%;
  }
  .profile-info{
    margin-bottom: 0;
  }  
  .profile-info h1{
    margin-bottom: 50px;
  }
  .profile-info p{
   width: 680px;
  }
  .profile-info img{
    margin:70px 0 0 80px;
    width: 55%;
  }  
}

.favicon-profile{
  height: 52px;
  margin: 0 12px 7px 0;
  width: 52px;
}

.profile-photo{
  border-radius: 100%;
  height: 140px;
  margin: 0 12px;
  width: 140px;
}
/* Head Flex */

.text-profile{
  margin: 10px 7.5px 0;
  text-align: center;
}

/* Body Flex */

.flex-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 25px;
}

.flex-item-first-name {
  flex: 35%;
  margin: 0 7.5px;
}

.flex-item-last-name {
  flex: 35%;
  margin: 0 7.5px;
}

.username{
  flex: 35%;
  margin: 12px 7.5px 0;
}

.email-profile{
  flex: 35%;
  margin: 12px 7.5px 0;
}

.about-profile{
  flex: 90%;
  margin: 10px 7.5px 0;
}

.blogger-profile{
  flex: 35%;
  margin: 12px 7.5px 0;
}

.phone-profile{
  flex: 35%;
  margin: 12px 7.5px 0;
}

.about-profile{
  flex: 90%;
  margin: 10px 7.5px 0;
}

.button-profile{
  flex: 90%;
  margin: 25px 7.5px 0;
}

/* Profile BUTTON  */
.btn-profile {
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  margin: 35px 0 35px;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

@media only screen and (max-width: 1080px){
  .btn-profile {
    margin-bottom: 4px;
  }
}

.profile-no-post img{ 
  display: block;
  margin: 20px auto;
  width: 50%;
}

/* my Posts section */

.no-post img{ 
  display: block;
  margin: 20px auto;
  width: 50%;
}

@media only screen and (max-width: 1080px){
  .no-post {
    margin: 100px 0 635px;
  }
}

.my-posts h4{
  font-size: 22px;
  font-weight: 600;
  text-align: center;
  margin: 10px 0 20px;
}
/* FOOTER */

.footer{
  font-family: "Montserrat";
  font-size: 13px;
  text-align: center;
}

.footer-link{
  color: #75757d;
  text-decoration: none;
}

.footer-link:hover{
  color: #a0a0a2;
  text-decoration: none;
}


